$bgimage: url('../images/background.png');
$animation-image: url('../images/animation.png');
$facebookimage: url('../../../components/header/images/link-fb.png');
$googleimage: url('../../../components/header/images/link-gl.png');
$instagramimage: url('../../../components/header/images/link-inst.png');
$twitterimage: url('../../../components/header/images/link-twi.png');
$logoimage: url('../../../components/header/images/logo-ghibli.png');
$playbtn: url('../../../components/main/images/play.png');
